
body {
    background-color: white; 
    font-family: arial;
    text-align: center;
  }

  h1 { text-align: center;}

  p { font-family: arial;
    text-align: center;
    padding: 10px;
    color: rgb(116, 116, 116);
  }


